* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: Abril Fatface;
}
header{
  background: black;
  height: 50%;
  color: #AFBCFF;
 border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
h1{
	font-size: 1.3em;
	padding: 20px;
	text-align: center;
}
h3{
	font-size: 0.9em;
	text-align: center;
	color: white
}
h2{
	font-family: cormorant-garamond semi, serif;
	color: black;
	font-weight: 40;
	font-style: normal
	font-size:0.5em;
}
p{
	color:white;
	font-size: 0.5em;
	border: 1px solid white;
	padding: 10px;
	border-radius: 20px;
}
.astronaut{
	width: 100px;
	border-radius: 60px; 
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.logo{
	width: 20%;
  	margin-left: 75%;
  	margin-right: auto;
  }
  #afteller{
	display: none;
	font-size: 1.2em;
	letter-spacing: 12px;
}
/*header flexbox*/
.flex-container {
  display: flex;
   flex-wrap: wrap;
   flex-direction: column;
  text-align: center;
}

.flex-item-left {
	background-color: none;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
	background-color: none;
  padding:30px;
  flex: 50%;
}
/*css voor mapbox*/

#map { 
	width:100%; 
	height:60vh;
}
.mapboxgl-canvas {
	margin:10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto ;
  background-color: none;
  padding: 0px;
  margin:10px;
}
.grid-item {
  background-color: #ECEEF8;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;

}

/*buttons styling*/
a{
	text-decoration: none;
	font-family: cormorant-garamond semi, serif;
	color: #8390FA;
	font-weight: 700;
	font-style: normal
	font-size:0.8em;
}
nav{
	margin: 20px;
	text-align: center;
}
#knop1, #knop2, #knop3{
	padding: 10px;
}
a:hover{
	background-color: #F8F4F1;
	border-radius: 30px;

}





